/* Attribution: Code been modified from https://codepen.io/designcouch/pen/dCBJr */

#light-switch {
  display: none;
}

.switch:before,
.switch:after {
  transition: 0.2s ease-in-out;
}

#light-switch:checked ~ #light-switch-label {
  box-shadow: 0 2px 2px #ccc;
}
#light-switch:checked ~ #light-switch-label .switch {
  box-shadow: 0 10px 10px -5px #cccccc, 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 0 0 4px #eee, 0 0 0 5px rgba(0, 0, 0, 0.1);
}
#light-switch:checked ~ #light-switch-label .switch:before {
  height: 20px;
  top: 0px;
  line-height: 15px;
  background: #eee;
  color: #64bf60;
  text-shadow: 0 0 3px #38ff2e;
}
#light-switch:checked ~ #light-switch-label .switch:after {
  height: 15px;
  bottom: 5px;
  line-height: 15px;
  background: #fff;
  box-shadow: 0 5px 0 #ccc;
  color: #ccc;
  text-shadow: 0 0 0px transparent;
}

#light-switch-label {
  font-size: 8px;
  position: relative;
  display: block;
  height: 75px;
  width: 50px;
  z-index: 1;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#light-switch-label .switch {
  cursor: pointer;
  height: 34px;
  width: 20px;
  background: #f5f5f5;
  position: absolute;
  top: calc(50% + 8px);
  left: calc(50% + 8px);
  margin: -25px 0 0 -18px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0),
    0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 4px #eee, 0 0 0 5px rgba(0, 0, 0, 0.1);
}
#light-switch-label .switch:before {
  content: "ON";
  display: block;
  position: absolute;
  height: 17px;
  text-align: center;
  line-height: 18px;
  width: 20px;
  top: 2px;
  left: 0;
  background: #ddd;
  color: #bbb;
  border-radius: 5px 5px 0 0;
}
#light-switch-label .switch:after {
  content: "OFF";
  display: block;
  position: absolute;
  height: 17px;
  text-align: center;
  line-height: 15px;
  width: 20px;
  bottom: -2px;
  left: 0;
  background: #eee;
  color: #a4441a;
  text-shadow: 0 0 3px #ff4e00;
  border-radius: 0 0 5px 5px;
}

#light-switch-label .screw {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  left: calc(50% + 5px);
  margin-left: -8px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#light-switch-label .screw:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  background: rgba(0, 0, 0, 0.2);
}
#light-switch-label .screw:first-of-type {
  top: 4px;
}
#light-switch-label .screw:last-of-type {
  bottom: 4px;
}

#light-switch ~ #light-switch-label.switch-only {
  background-color: unset;
  box-shadow: unset;
  border: unset;
}
